
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Importar Excel";
}

<br />
<br />
<br />
@using (Html.BeginForm(Html.BeginForm("ImportaExcel", "TabelaPrecoOncoprod", FormMethod.Post, new { enctype = "multipart/form-data" })))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

<div class="container-fluid" style="max-width: 100%;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="text-transform: uppercase;"><a href="#">Tabela de Preço</a></li>
            <li class="breadcrumb-item active" style="text-transform: uppercase;" aria-current="page">Importar Excel</li>
        </ol>
    </nav>

    <br />

    <input class="btn btn-secondary btn-lg btn-block" id="postedFile" type="file" name="postedFile" />
    <br />
    <div class="col-lg-3">
        <input class="pull-right btn btn-secondary btn-lg" id="sucesso" type="submit" value="Importar Excel" />

        <div class="pull-left">
            <a class="btn btn-dark btn-lg" id="btnVoltar" href="@Url.Action("Index", "TabelaPrecoOncoprod")">
                <span title="Detalhes" class="glyphicon glyphicon-menu-left"></span>
                Voltar
            </a>
        </div>
    </div>

</div>
    }

    <style>
        #postedFile {
            background-color: #D9DEE4;
        }

        #btnVoltar {
            background-color: #D9DEE4;
            color: #000000;
        }
        #sucesso {
            background-color: #D9DEE4;
            color: #000000;
        }
    </style>
