@model IEnumerable<OP.PortalOncoprod.Application.ViewModels.UsuarioViewModel>
<div class="col-md-6">
    <table class="tabela table table-striped table-bordered table-condensed table-hover" id="usuariosSelecionados">
        <tr>
            <th>Selecione</th>
            <th>Codigo</th>
            <th>Nome</th>
        </tr>
        @if (ViewData["usuariosList"] != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.CheckBox("checkBoxName", true, new { @class = "checkListItens",id="usuario_" + item.usuarioId , value = @item.usuarioId, data_mini = "false" })
                    </td>
                    <td>@item.usuarioId.Replace(".", "").Trim()</td>
                    <td>@item.usuarioNome</td>

                </tr>
            }
        }
    </table>
</div>

<script>
    $(document).ready(function () {
        $('.usuariosSelecionados').dataTable({
            "language": { "paginate": { "next": "Próximo", "sPrevious": "Anterior", "search": "Pesquisar" } }
        });

    });
</script>