@*@using Microsoft.AspNet.Identity*@
@model OP.PortalOncoprod.Application.ViewModels.UsuarioViewModel

@{ 
    var Usuario = Session["USUARIO"];
}

@if (((OP.PortalOncoprod.Domain.Entities.Usuario)Usuario) != null)
{
    using (Html.BeginForm("Sair", "Usuario", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Bem Vindo " + Model.usuarioNome, "Index", "Usuario", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Login", "Login", "Usuario", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
